<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }} !
  </h1>
  <ul>
    <li>Champions</li>
    <li>Statitiques</li>
    <li>Classement</li>
  </ul>
</div>
<!-- <h2>Trouvez votre meilleure proie pour gagner de l'elo ! </h2> -->
<app-search-summoner></app-search-summoner>


<router-outlet></router-outlet>
<h2>Top tier jungle</h2>
<section class="sectionFirst">
  <div class="TopJungle"><img class="lol-icon" src="../assets/JarvanIV.png" alt="icon-lol" height="70" width="70"></div>
  <div class="TopJungle"><img class="lol-icon" src="../assets/Khazix.png" alt="icon-lol" height="70" width="70"></div>
  <div class="TopJungle"><img class="lol-icon" src="../assets/Kindred.png" alt="icon-lol" height="70" width="70"></div>
  <div class="TopJungle"><img class="lol-icon" src="../assets/LeeSin.png" alt="icon-lol" height="70" width="70"></div>
</section>
<section class="sectionSecond">
    <div class="TopJungle"><img class="lol-icon" src="../assets/Rengar.png" alt="icon-lol" height="70" width="70"></div>
    <div class="TopJungle"><img class="lol-icon" src="../assets/XinZhao.png" alt="icon-lol" height="70" width="70"></div>
    <div class="TopJungle"><img class="lol-icon" src="../assets/Kayn.png" alt="icon-lol" height="70" width="70"></div>
    <div class="TopJungle"><img class="lol-icon" src="../assets/Twitch.png" alt="icon-lol" height="70" width="70"></div>
  </section>
